.drag-zone {
    border: 1px solid blue;
    min-height: 100px;
    min-width: 200px;
    background: red;
}

.wish-item-form {
    min-height: 30vh;
    padding: 16px;
}

.item-pic {
    max-height: 30vw;
}