.drag-zone {
  margin: 16px;
}

.drag-zone:not(.has-image) {
  text-align: center;
  padding: 10px;
  border: 2px dashed #4aa1f3;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  width: 60%;
  height: 45%;
  display: flex;
  align-items: center;
}

.drawer-top {
  height: 40px;
}

.wish-item-form {
  display: flex;

  .form-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-body {
    margin: 0 16px;
    flex: 1 1 auto;
    max-height: 65vh;
    overflow: scroll;
    .form-section {
      display: flex;

      .form-column {
        flex: 1 1 auto;

        &.form-top-left {
          max-width: calc(30vw + 32px);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.form-top-right {
          flex: 1 0 50%;
        }
      }
    }

    .form-top {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .form-top .form-middle {
      flex: 0 0;
    }

    .form-middle {
      display: flex;
    }

    .form-input {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .form-bottom {
    flex: 0 0 auto;
    padding: 2px 0 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(0, 0, 0, 0.05);
    .form-button {
      margin: 0 16px;
      display: flex;
      justify-content: flex-end;
      margin-top: 12px;
      button {
        margin: 4px 8px;
        flex: 1 0 auto;
        width: 23vw;
        min-width: 95px;
        max-width: 23vw;
        min-width: 100px;
        height: 40px;
      }
    }
  }
}

.item-pic {
  max-height: 27vh;
  max-width: 30vw;
}

.link-accordian {
  .existing-link-input,
  .new-link-input {
    display: flex;
    align-items: center;
    margin: 16px 0;
    &:first-of-type {
      margin-top: 0;
    }
    .link-preview {
      flex: 1 1 auto;
      h3.Title {
        font-size: 0.8em;
      }
      .Secondary {
        font-size: 0.8rem;
      }
    }
    button {
      flex: 0 0 auto;
      height: 30px;
      width: 30px;
      min-width: unset;
    }
  }
  .new-link-input {
    .form-input {
      margin-bottom: unset;
    }
  }
}
