.drag-zone:not(.has-image) {
    text-align: center;
    padding: 10px;
    border: 2px dashed #4aa1f3;
    background-color: #fafafa;
    color: #bdbdbd;
    cursor: pointer;
    width: 70%;
    height: 45%;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-top: 16px;
}

.wish-item-form {
  min-height: 30vh;
  max-height: 70vh;
  padding: 16px;
  display: flex;
  .image-block {
    width: 40%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-block {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .field-block {
        padding-top: 8px;
        max-height: 70vh;
        overflow: scroll;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .MuiFormControl-root {
            margin-bottom: 10px;
          }
    }
    
    .form-button {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap-reverse;
      button {
        flex: 1 1 45%;
        margin: 5px;
      }
    }
  }
}

.item-pic {
  max-height: 100%;
  max-width: 80%;
}

.link-preview {
    h3.Title {
        font-size: 0.8em;
    }
    .Secondary {
        font-size: 0.8rem;
    }
}